$mobile-to-tablet-breakpoint: 767px;
$tablet-to-desktop-breakpoint: 1029px;
// Mixins
@mixin tablet {
  @media (min-width: #{$mobile-to-tablet-breakpoint + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-to-desktop-breakpoint + 1px}) {
    @content;
  }
}

:host {
  header {
    width: 100%;
  }

  .top-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;

    .logo-mobile {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 40%;
        height: auto;
      }
    }

    .social-icons {
      padding-inline-end: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .phone-container {
      padding-inline-start: 30px;
      .phone-icon {
        transform: rotate(270deg);
      }

      .phone-number-text {
        display: none;
      }
    }

    // 768px breakpoint
    @include tablet {
      height: 100px;
      padding: 0px 60px;

      .phone-container {
        line-height: 0;
        padding-inline-start: 0px;
        .phone-icon {
          display: none;
        }

        .phone-number-text {
          display: ruby-text;
        }
      }

      .social-icons {
        line-height: 0;
        padding-inline-end: 0px;
        flex-direction: row;
        gap: 20px;
      }

      .logo-mobile {
        img {
          // margin: 30px -70px -40px -25px;
          width: 18%;
          height: auto;
          position: absolute;
          top: 0;
          max-width: 160px;
        }
      }
    }
  }

  .nav-container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: red;
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; // Ensure it stays above other content
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      background-color: var(--header-background-color);
      color: var(--text-color);
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 240px;
      transform: translateX(100%);
      z-index: 5;
      transition: all ease-in-out 0.4s;

      &.open {
        box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
        transform: translateX(0);
      }

      li {
        text-align: center;
        padding: 6px 10px;
        border-bottom: 1px solid #e5e5e52e;
        transition: background-color 0.3s;
        font-weight: 400;
        border-bottom: 1px solid var(--text-color);
      }
    }

    .desktop-nav-links-right,
    .desktop-nav-links-left {
      display: none;
    }

    .hamburger-btn {
      background-color: transparent;
      border: none;
      margin-inline-start: 39px;
      padding: 10px 20px 10px 20px;
      color: var(--text-color);
      border-radius: 10px;
    }

    @include desktop {
      .nav-links {
        display: none;
      }

      .hamburger-btn {
        display: none;
      }

      .desktop-nav-links-right {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 13%;
        margin-inline-start: 20%;
      }

      .desktop-nav-links-left {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 13%;
        margin-inline-end: 20%;
      }
    }
  }

  .screen-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
