<section class="hero-container">
  <div class="hero-left">
    <div class="hero-text">
      <p>בואו לצנוח איתי</p>
    </div>
    <a class="cta-link" href="">
      <p class="cta-button">דבר איתי</p>
    </a>
  </div>
  <div class="hero-right">
    <img
      class="hero-main-subject"
      src="../../../assets/images/hero-image.png"
      alt="Idan-Skydive hero-main-subject"
      loading="eager"
    />
  </div>
</section>
<img
  class="hero-cloud-divider"
  src="../../../assets/images/cloud-divider-mirror.png"
  alt="Idan-Skydive hero-cloud-divider"
  loading="eager"
/>
