button {
    cursor: pointer;
}

.primary-btn {
    background-color: #2d86bf;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);

    &:hover {
        background-color: #1b73aa;
    }
}

.delete-btn {
    background-color: #b04632;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);

    &:hover {
        background-color: #853322;
    }
}
