:root {
  // Light mode colors
  --background-color: #fafafa;
  --header-background-color: #fafafa;
  --card-background-color: #f3f3f3;
  --user-msg-background-color: #d8d2cb;
  --text-color: #001d01;
  --text-color-active: #2d86bf;
  --user-msg-background-color: #37393d;
  --border-color: #cfcfcf;
}
