@import '../../../assets/styles/functions/functions';

:host {
  .widget-icon {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .whatsapp-icon {
      height: 85px;
      width: 85px;
    }
  }
}
